* {
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: none;
    font-family: "poppins";
    margin: 0;
    padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    &:visited {
        fill: unset;
    }
}
