@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
    font-family: "Open Sans", sans-serif;
}

$full_screen_slider_overlay: rgba(0, 0, 0, 0.5);
// Colors
$white: #ffffff;
$orange: #e6851d;

.full_screen_slider {
    position: relative;
    .overlay {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: $full_screen_slider_overlay;
    }
    .cta {
        z-index: 3;
        position: absolute;
        bottom: 120px;
        left: 16px;
        color: $white;
        p {
            max-width: 400px;
        }
        .title {
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .subtitle {
            font-size: 18px;
            margin-bottom: 16px;
        }
        .description {
            font-size: 14px;
            margin-bottom: 24px;
            line-height: 24px;
        }
        button {
            background-color: $white;
            padding: 12px 40px;
            border-radius: 4px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            outline: none;
            cursor: pointer;
            &:hover {
                background-color: transparent;
                color: $white;
            }
        }
    }
    @media (min-width: 768px) {
        .cta {
            top: 120px;
            left: 16px;
            button {
                font-size: 14px;
            }
        }
    }
    @media (min-width: 1024px) {
        .cta {
            p {
                max-width: 450px;
            }
            .title {
                font-size: 32px;
            }
            .subtitle {
                font-size: 24px;
            }
            .description {
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
    @media (min-width: 1200px) {
        .cta {
            width: 100%;
            max-width: 1200px;

            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    @media (min-width: 1440px) {
        .cta {
            top: 15%;
            max-width: 80%;
        }
    }
}
.mobile_nav {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 16px;
        .logo {
            width: 100%;
            max-width: 150px;
        }
        .menu_button {
            color: $white;
            cursor: pointer;
        }
    }
    header.light {
        .menu_button {
            color: black;
        }
    }
    .sidebar {
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 99;
        width: 100vw;
        height: 100vh;
        background-color: black;
        transition: left 200ms ease-in-out;
        header {
            margin-bottom: 100px;
        }
        .nav_links {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                transition: all 200ms ease-in-out;
                border-bottom: 2px solid black;
                color: $white;
                padding-bottom: 4px;
                margin-bottom: 40px;
                font-size: 20px;
                & :last-of-type {
                    margin-bottom: 0;
                }
            }
            & a:hover {
                border-bottom: 2px solid $white;
            }
            .social_media {
                color: white;
                display: flex;

                a {
                    margin-right: 40px;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .sidebar.open {
        left: 0;
    }
    @media (min-width: 768px) {
        display: none;
    }
}
.web_nav {
    top: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px 16px;

    .logo {
        min-width: 150px;
        max-width: 150px;
    }
    .nav_links {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-column-gap: 40px;
        a {
            color: $white;
            text-transform: uppercase;
            font-size: 14px;
        }
    }
    .nav_links.dark {
        a {
            color: black;
        }
    }
    // reversed mq
    @media (max-width: 767px) {
        display: none;
    }
    @media (min-width: 1200px) {
        max-width: 1200px;
        left: 50%;
        transform: translate(-50%, 0%);
        padding: 32px 0;
    }
    @media (min-width: 1440px) {
        max-width: 1200px;
        max-width: 80%;
    }
}
.partners {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 16px;

    .image_wrapper {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 40px;
        justify-content: space-evenly;
        .item {
            img {
                max-width: 136px;
                padding-bottom: 8px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.205);
            }
            .label {
                text-transform: uppercase;
                font-size: 14px;
                text-align: center;
            }
        }
    }
    @media (min-width: 768px) {
        .image_wrapper {
            grid-template-columns: repeat(4, auto);
            grid-column-gap: 80px;
        }
    }
}
.product_listing {
    padding: 40px 16px;
    header {
        max-width: 1200px;
        margin: auto;
        .title {
            margin-bottom: 16px;
        }
    }
    main {
        display: grid;
        grid-gap: 40px;
        .product {
            position: relative;
            width: 100%;
            padding-top: 56.25%;
            background-color: tomato;
            background-position: center;
            background-size: cover;
            border-radius: 4px;
        }
        .overlay {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }
        .details {
            z-index: 2;
            position: absolute;
            bottom: 16px;
            left: 16px;
            right: 16px;
            p {
                color: $white;
            }
            .title {
                font-size: 16px;
                text-transform: uppercase;
                margin-bottom: 2px;
            }
            .subtitle {
                font-size: 14px;
            }
        }
    }
    @media (min-width: 768px) {
        main {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (min-width: 1024px) {
        main {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (min-width: 1440px) {
        max-width: 80%;
        margin: auto;
    }
}
.product_filters {
    header.web {
        display: none;
        padding: 24px 16px;
        padding-bottom: 0;
        justify-content: center;
        flex-wrap: wrap;
        border-top: 1px solid rgba(163, 163, 163, 0.5);
        border-bottom: 1px solid rgba(163, 163, 163, 0.5);
        margin-bottom: 40px;
        p {
            position: relative;
            margin-right: 40px;
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 24px;
            cursor: pointer;
            &::after {
                content: "";
                position: absolute;
                left: 0%;
                right: 100%;
                bottom: -10px;
                height: 4px;
                background-color: black;
                transition: all 300ms ease-in-out;
            }
            &:hover {
                &::after {
                    right: 0%;
                }
            }
        }
        p.selected {
            &::after {
                right: 0%;
            }
        }
    }
    header.mobile {
        margin-bottom: 40px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 24px 0;
        outline: none;

        details {
            text-align: center;
            margin: auto;
            summary {
                cursor: pointer;
            }
            p {
                margin-bottom: 24px;

                cursor: pointer;
                &:first-of-type {
                    margin-top: 24px;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
                &.selected {
                    font-weight: 600;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        // animation test
        details[open] summary ~ * {
            animation: sweep 0.5s ease-in-out;
        }

        @keyframes sweep {
            0% {
                opacity: 0;
                margin-left: -10px;
            }
            100% {
                opacity: 1;
                margin-left: 0px;
            }
        }
    }
    main {
        max-width: 1200px;
        margin: auto;
        padding: 0 16px;
        .title {
            margin-bottom: 16px;
            text-align: center;
            font-size: 20px;
        }
        .description {
            font-size: 14px;
            line-height: 24px;
            text-align: center;
        }
    }
    @media (min-width: 768px) {
        header.mobile {
            display: none;
        }
        header.web {
            display: flex;
        }
    }
}
.world_map {
    padding: 40px 16px;
    max-width: 1200px;
    margin: 0 auto;
    .region {
        cursor: pointer;
        transition: all 100ms ease-in-out;
        &:hover {
            fill: black;
        }
    }
}
.footer {
    padding: 40px 16px;
    max-width: 1200px;
    margin: auto;
    header {
        text-align: center;
        margin-bottom: 32px;
        display: grid;
        .logo {
            max-width: 150px;
        }
    }
    .links {
        display: grid;
        grid-gap: 24px;
        .link_group {
            display: grid;
            justify-content: center;
            justify-items: center;
            grid-row-gap: 4px;
            .title {
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 8px;
                font-size: 14px;
            }
            a {
                text-transform: capitalize;
                font-size: 14px;
            }
        }
    }
    @media (min-width: 556px) {
        header {
            text-align: left;
        }
        .links {
            grid-template-columns: repeat(3, 1fr);
            .link_group {
                justify-content: start;
                justify-items: left;
            }
        }
    }
    @media (min-width: 768px) {
        margin-top: 80px;
        header {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 24px;
            .logo {
                margin: unset;
            }
        }
    }
}
.full_screen_banner {
    div {
        width: 100%;
        padding-top: 56.25%;
        background-size: cover;
        background-position: center;
        position: relative;
    }
}
.full_screen_img {
    position: relative;
    img {
        width: 100%;
        height: auto;
    }
}
.text_group {
    max-width: 1200px;
    margin: auto;
    padding: 40px 16px;
    header {
        padding-bottom: 2px;
        border-bottom: 1px solid grey;
        margin-bottom: 16px;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .subtitle {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 8px;
    }
    .subtitle2 {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 8px;
    }
    .body {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .body.center {
        text-align: center;
    }
    ul {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: repeat(3, 1fr);
        list-style-type: none;
        padding-top: 24px;

        li {
            text-decoration: none;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-bottom: 1px solid lightgray;
            padding-bottom: 8px;
            p {
                margin-bottom: 8px;
                font-weight: 800;
                font-size: 12px;
            }
            span {
                font-size: 14px;
            }
        }
    }
    @media (min-width: 768px) {
        header {
            .title {
                font-size: 24px;
            }
        }
        .subtitle {
            font-size: 20px;
        }
        .subtitle2 {
            font-size: 18px;
        }
        .body {
            font-size: 15px;
            line-height: 28px;
        }
    }
}
.page_title {
    padding: 0 16px;
    margin: auto;
    h1 {
        font-size: 32px;
        font-weight: 600;
    }
    @media (min-width: 1200px) {
        padding: 0;
        max-width: 1200px;
    }
    @media (min-width: 1440px) {
        max-width: 80%;
    }
}
.card_group {
    padding: 40px 16px;
    display: grid;
    grid-gap: 40px;
    .card {
        border-radius: 8px;
        cursor: pointer;
        padding: 24px 32px;
        transition: all 300ms ease-in-out;
        &:hover {
            background-color: rgba(211, 211, 211, 0.377);
        }
        header {
            margin-bottom: 16px;
            .title {
                font-size: 16px;
                font-weight: 600;
                color: $orange;
                margin-bottom: 4px;
                text-transform: uppercase;
            }
            .divider {
                height: 1px;
                width: 100%;
                background-color: lightgray;
                margin-bottom: 4px;
            }
            .subtitle {
                font-size: 14px;
                font-weight: 600;
                text-transform: capitalize;
            }
        }
        main {
            .info {
                margin-bottom: 16px;
                :last-of-type {
                    margin-bottom: 0;
                }
                display: flex;
                align-items: center;
                a {
                    font-size: 14px;
                }
                svg {
                    margin-right: 8px;
                    height: 20px;
                }
            }
        }
    }
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1200px) {
        max-width: 1200px;
        margin: auto;
        padding: 40px 0;
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1440px) {
        max-width: 80%;
        margin: auto;
    }
}
.lightbox {
    padding: 16px;
    max-width: 1200px;
    margin: auto;
    #lightgallery {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: repeat(2, 1fr);
        a {
            div {
                width: 100%;
                padding-top: 100%;
                background-position: center;
                background-size: cover;
            }
        }
    }
    @media (min-width: 768px) {
        #lightgallery {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (min-width: 992px) {
        #lightgallery {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
.product-grid-intro {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    grid-template-areas:
        "details details"
        "one ."
        "two three";
    .details {
        grid-area: details;
        .title {
            font-size: 20px;
            margin-bottom: 12px;
            text-transform: uppercase;
            font-weight: 600;
        }
        .subtitle {
            font-size: 14px;
            line-height: 24px;
        }
    }
    .img {
        background-size: cover;
        background-position: center;
        padding-top: 100%;
        border-radius: 2px;
    }
    .one {
        grid-area: one;
    }
    .two {
        grid-area: two;
    }
    .three {
        grid-area: three;
    }
    .four {
        grid-area: four;
        display: none;
        padding-top: unset;
    }
    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "one details details"
            "two three .";
        .details {
            .title {
                font-size: 24px;
                font-weight: 700;
            }
            .subtitle {
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
    @media (min-width: 1200px) {
        max-width: 1200px;
        margin: auto;
        margin-bottom: 64px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "one details details four four four"
            "two three . four four four";
        .four {
            display: block;
        }
        .details {
        }
    }
}

// =======
// override
// ========

header.section_header {
    margin-bottom: 56px;
    text-align: center;
    .title {
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        text-transform: uppercase;
    }
}
@media (min-width: 768px) {
    header.section_header {
        .title {
            font-size: 20px;
            font-weight: 400;
        }
    }
}

#about_page {
    .full_screen_img {
        margin-top: 88px;
    }
    @media (min-width: 768px) {
        .full_screen_img {
            margin-top: 83px;
        }
    }
}
#products_page {
    margin-top: 88px;
    .product_filters {
        margin-top: 120px;
    }
    @media (min-width: 768px) {
        margin-top: 83px;
    }
}
#find_us_page {
    margin-top: 88px;
    @media (min-width: 768px) {
        margin-top: 83px;
    }
}
.location_page {
    margin-top: 88px;
    @media (min-width: 768px) {
        margin-top: 83px;
    }
}
#product_details_page {
    margin-top: 88px;
    @media (min-width: 768px) {
        margin-top: 83px;
        .full_screen_banner {
            div {
                padding-top: 40%;
            }
        }
    }
    @media (min-width: 1200px) {
        .full_screen_banner {
            div {
                padding-top: 32%;
            }
        }
    }
}
